<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--<bean name="mysql" class="com.wy.dao.impl.DaoImpl"/>
    <bean name="oracle" class="com.wy.dao.impl.DaoImplOracle"/>
    <bean name="myService" class="com.wy.service.serviceImpl.ServiceImpl" >
        <property name="dao" ref="oracle"/>
    </bean>-->
    <context:component-scan base-package="com.wy" />

</beans>